<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mikey.database">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/big_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".UserProfile.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile.registerUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Profile.ContactProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Guide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Profile.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Spec"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.DisplayContact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Password.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.VoiceCall.receiveCallTest"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UserProfile.UserSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.EmailVerification"
            android:screenOrientation="portrait" />
        <activity android:name=".UserProfile.Password.NewPassword" />
        <activity android:name=".UserProfile.UserInterests" />
        <activity android:name=".UserProfile.Profile.EditUserProfile" />
        <activity android:name=".UserProfile.testActivity"></activity>
        <activity android:name=".UserProfile.ChangeSecurityQuestionAnswer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.Favourites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.BlockedContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.VoiceCall.PlaceCallTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile.NearPeople"
            android:screenOrientation="portrait" />
        <receiver android:name=".UserProfile.Home$NotificationAcceptAction"/>
        <receiver android:name=".UserProfile.Home$NotificationDeclineAction"/>

        <!-- Messaging stuff -->
        <activity
            android:name="com.example.mikey.database.UserProfile.Messaging.MessagingActivity"
            android:screenOrientation="portrait" />
        <service android:name="com.example.mikey.database.UserProfile.Messaging.SinchService"/>
        

    </application>

</manifest>
